---
const { label = "", value = "" } = Astro.props;
---

<div class="flex h-full flex-col justify-center">
  <div class="text-lg font-extrabold tracking-wide text-brand-navy">
    {value}
  </div>

  <div class="mt-2 text-sm leading-relaxed text-slate-600">
    {label}
  </div>
</div>
